
.container3 {
  background-color: #000000;
  width: 1440px;
  height: 1144px;
}

.background {
  background-image: url(../../public/images/awardSection/img-pubggraffitti.png);
  background-position: right;
  background-repeat: no-repeat;
  object-fit: fill;
  padding-top: 60%;
}

.paragraph {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 29.44px;
  width: 512px;
  position: absolute;
  margin-top: -5%;
  z-index: 3;
}

.text {
  font-family: 'Headliner', sans-serif;
  float: left;
  position: absolute;
  margin-top: 10%;
  margin-left: 16%; 
  z-index: 4;
  line-height: 0px;
}

.heading1 {
  margin-top: 25%;
}
