.divider {
  background-image: url('../../public/images/footer/divider-bottom.png');
  height: 31px;
  width: 1440px;
}

.footerContainer {
  background-image: url('../../public/images/footer/footer.png');
  height: 143px;
  width: 1440px;
}
