.container {
  background-color: #000000;
  width: 1440px;
}

.text {
  font-family: 'Headliner', sans-serif;
  float: left;
  position: absolute;
  margin-top: 2%;
  margin-left: 90%; 
  z-index: 4;
  line-height: 0px;
}

.secondContainer { 
  width: 1440px;
  background-image: url('../../public/images/main/background-intro.png');
  background-position: left;
  background-size: 597px contain;
  background-repeat: no-repeat;
  margin-right: -100%;
  margin-left: -36%;
  padding-top: 8%;
  height: 700px;
}

.secondDetail { 
  float: left;
  margin-right: -100%;
  margin-left: 47%;
  padding-top: 2%;
  position: relative;
  z-index: 1;
}

.secondMain::after { 
  content: ' ';
  display: table;
  clear: both;
}

.secondLogin {
  font-family: 'Teko', sans-serif;
  font-size: 18px;
  background-color: #F2A900;
  padding: 10px 24px;
  color: #fff;
  border: none;
  border-radius: 2px;
  position: absolute;
  margin-top: 33.5%;
  margin-left: 90%; 
  z-index: 1;
}

.paragraph {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 29.44px;
  width: 512px;
  position: absolute;
  margin-top: 10%;
  margin-left: 90%; 
  z-index: 3;
}

.link {
  color: #ffb70f;
  font-family: 'Bender', sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: 21px;
  margin-left: 90%;
  margin-top: 28.5%;
  text-decoration: underline;
  text-transform: uppercase;
  position: absolute;
  z-index: 2;
}
