.container {
  background-color: #000000;
  color: #ffffff;
  height: 88px;
  margin: 0;
  width: 1440px;
  z-index: -3;
  background-image: url('../../public/images/navbar/dust_bg.png');
}

.leftSide {
  align-content: center;
  align-items: flex-start;
  display: flex;
  font-family: 'Bender', sans-serif;
  font-size: 14px;
  font-weight: 700;
  justify-content: space-around;
  letter-spacing: 0.05em;
  line-height: 21px;
  margin-left: 35px;
  margin-top: 8px;
  position: absolute;
  padding: 10px 24px;
  text-transform: uppercase;
  z-index: 1;
}

.leftSide span {
  align-items: center;
  margin: 20px 10px;
}

.logo {
  width: 136.8px;
  height: 48px;
  padding: 0 15px;
}

.rightSide { 
  display: flex;
  position: absolute;
  justify-content: flex-end;
  padding: 15px;
}

.loginButton {
  background-color: #F2A900;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-family: 'Teko', sans-serif;
  font-size: 18px;
  margin-right: -1370px;
  margin-top: 7px;
  padding: 10px 24px;
  position: absolute;
  float: right;
  z-index: 4;
}
