.container {
  background-color: #000000;
  color: #ffffff;
  width: 1920px;
  height: 88px;
  z-index: -3;
  margin: 0;
}

.leftSide {
  align-content: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-family: 'Bender', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  z-index: 1;
  padding: 10px 24px;
}

.logo {
  width: 136.8px;
  height: 48px;
}

.rightSide { 
  display: flex;
  position: absolute;
  justify-content: flex-end;
  padding: 15px;
}

.loginButton {
  font-family: 'Teko', sans-serif;
  font-size: 18px;
  background-color: #F2A900;
  padding: 10px 24px;
  color: #fff;
  border: none;
  border-radius: 2px;
  position: absolute;
  z-index: 1;
}

