.headingA {
  font-size: 36px;
  font-family: Headliner, sans-serif;
  font-weight: 400;
  margin-top: -21%;
  padding-left: 3%;
  position: absolute;
  z-index: 5;
  text-transform: uppercase; 
  letter-spacing: 0.05em;
  color: #ffffff;
}

.secondDetail { 
  margin-right: -100%;
  margin-left: 3%;
  margin-top: -13%;
  position: absolute;
  z-index: -1;
}

.detail { 
  margin-top: -25%;
  margin-left: -8%;
  position: absolute;
  z-index: 4;
}

.secondMain { 
  width: 528px;
  height: 520px;
  background-image: url('../../public/images/awardSection/background.png');
  background-color: #313131;
  box-shadow: #141414 0, 2, 28, 0, 30%;  
  margin-left: -4%;
  border-radius: 5%;
  object-fit: cover;
  margin-top: -20%;
  position: absolute;
  z-index: -2;
}

.smallText {
  font-family: Bender, sans-serif;
  font-size: 14px;
  margin-top: 66%;
  margin-left: 33%;
}

.otherText {
  margin-top: 6%;
  font-size: 24px;
  color: #FFB70F;
  text-align: center;
  line-height: 7px;
}
