.text {
  font-family: 'Headliner', sans-serif;
  float: left;
  margin-right: -100%;
  padding-top: 15%;
  position: relative;
  z-index: 2;
}

.secondContainer { 
  margin-top: 0;
  background-color: #000000;
}

.secondDetail { 
  float: left;
  width: 66%;
  margin-right: -100%;
  padding-top: 15%;
  position: relative;
  z-index: 1;
}

.secondMain::after { 
  content: ' ';
  display: table;
  clear: both;
}

.secondLogin {
  font-family: 'Teko', sans-serif;
  font-size: 18px;
  background-color: #F2A900;
  padding: 10px 24px;
  color: #fff;
  border: none;
  border-radius: 2px;
  position: absolute;
  z-index: 1;
  float: center;
  margin-left: 751px;
  margin-top: 0;
}

.paragraph {
  float: left;
  width: 66%;
  margin-right: -100%;
  padding-top: 15%;
  position: relative;
  z-index: 1;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 29.44px;
  width: 512px;
}
