.detail { 
  float: left;
  width: 66%;
  margin-right: -100%;
  padding-top: 15%;
  position: relative;
  z-index: 1;
}

.leftSide { 
  float: left;
  width: 66%;
  margin-right: -100%;
  padding-top: 15%;
  position: relative;
  z-index: 3;
}

.main::after { 
  content: ' ';
  display: table;
  clear: both;
}

.loginButton { 
  font-family: 'Teko', sans-serif;
  font-size: 18px;
  background-color: #F2A900;
  padding: 10px 24px;
  color: #fff;
  border: none;
  border-radius: 2px;
  position: absolute;
  z-index: 1;
  float: left;
  margin-right: -100%;
  position: relative;
  z-index: 2;
  margin-top: 150px;
  margin-left: 250px;
}
