
.container3 {
  background-color: #000000;
}

.paragraph {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 29.44px;
  width: 512px;
  float: right;
  position: relative;
  z-index: 1;
}

.aha2 {
  font-family: 'Headliner', sans-serif;
  float: left;
  margin-right: -100%;
  padding-top: 15%;
  position: relative;
  z-index: 2;
}
