.topImage {
  margin-bottom: -1%;
  object-fit: cover;
  position: absolute;
  z-index: 3;
}

.text {
  font-family: Headliner , sans-serif;
  line-height: 0px;
  margin-left: 14.8%;
  margin-top: 10%;
  position: absolute;
  z-index: 4;
}

.text h3 {
  color: #202020;
}

.image {
  background-image: url('../../public/images/stepsSection/pubg-kraftonid.png');
  background-repeat: no-repeat;
  height: 420px;
  padding-top: 55%;
  width: 430px;
}

.container {
  background-image: url('../../public/images/stepsSection/dust-bg.png');
  height: 871px;
  object-fit: cover;
  width: 100vw;
  z-index: 0;
}

.stepsMobile {
  display: none;
}

.steps {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin-left: 15%;
  margin-top: -36%;
  position: absolute;
  z-index: 1;
}

.steps h5 {
  display: flex;
  flex-direction: column;
}

.steps h3 {
  display: flex;
  flex-direction: row;
}

.button {
  background-color: #f2a900;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-family: Teko , sans-serif;
  font-size: 18px;
  height: 48px;
  margin-left: 55%;
  margin-top: -34%;
  padding: 10px 24px;
  position: absolute;
  width: 176px;
  z-index: 2;
}

.character {
  margin-left: 75%;
  margin-top: -37%;
}

@media screen and ( max-width : 375px ) {

  .topImage {
    margin-left: -110%;
    margin-right: -100%;
    margin-top: -3%;
    object-fit: contain;
    position: absolute;
    z-index: 3;
  }

  .container {
    height: 780px;
    object-fit: cover;
    width: 100vw;
  }

  .image {
    background-image: url('../../public/images/stepsSection/pubg-kraftonid2.png');
    background-size: 250px;
    height: 300px;
  }

  .text {
    margin-left: 9%;
    margin-right: -100%;
    margin-top: 30%;
  }

  .text h5 {
    font-size: 28px;
    letter-spacing: 1px;
  }

  .character {
    display: none;
  }

  .steps {
    display: none;
  }

  .button {
    display: none;
  }

  .stepsMobile {
    display: flex;
    flex-flow: column wrap;
    margin-top: -60%;
    padding-top: 0;
  }

  .step1 {
    align-items: baseline;
    border-bottom: 3px solid #87878762;
    display: block;
    padding-bottom: 15%;
  }

  .mobileLogin {
    display: block;
    padding-top: -60%;
  }

  .buttonMobile {
    background-color: #f2a900;
    border: none;
    border-radius: 2px;
    color: #fff;
    font-family: Teko , sans-serif;
    font-size: 18px;
    height: 48px;
    margin-bottom: 5%;
    margin-left: 8.5%;
    margin-top: -22%;
    padding: 10px 24px;
    position: absolute;
    width: 176px;
  }

  .item {
    color: #d69600;
    font-family: Headliner , sans-serif;
    font-size: 24px;
    margin-bottom: -2%;
    margin-left: 10%;
    padding: 0;
  }

  .line {
    color: #000;
    font-family: Roboto , sans-serif;
    font-size: 18px;
    margin-left: 10%;
    padding: 0;
  }

}
