.prizeB {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 75%;
  padding-top: 130%;
  position: absolute;
  width: 100%;
  z-index: 13;
}

.headingA {
  color: #fff;
  font-family: Headliner , sans-serif;
  font-size: 34px;
  font-weight: 400;
  letter-spacing: 0.05em;
  margin-left: -1%;
  margin-right: -100%;
  margin-top: 51%;
  position: absolute;
  text-transform: uppercase;
  z-index: 13;
}

.titleImageA {
  margin-left: -20%;
  margin-right: -100%;
  margin-top: 45%;
  position: absolute;
  z-index: 12;
}

.subtitleA {
  font-family: Bender , sans-serif;
  font-size: 14px;
  margin-left: 43%;
  margin-right: -100px;
  margin-top: 182%;
  position: absolute;
  z-index: 11;
}

.prizeTextA {
  color: #ffb70f;
  font-size: 24px;
  line-height: 7px;
  margin-left: 30%;
  margin-right: -100%;
  margin-top: 185%;
  position: absolute;
  text-align: center;
  z-index: 10;
}

.rewardA {
  margin-left: -2%;
  margin-right: -100%;
  margin-top: 60%;
  position: absolute;
  z-index: 9;
}

.rewardBackgroundA {
  background-image: url('../../../public/images/awardSection/background.png');
  object-fit: cover;
  width: 528px;
  height: 520px;
  z-index: 8;
}

.prizeContainerA {
  background-color: #313131;
  border-radius: 4px;
  box-shadow: #141414 0 , 2 , 28 , 0 , 30%;
  height: 520px;
  margin-left: -12%;
  margin-right: -100%;
  margin-top: 50%;
  object-fit: cover;
  position: absolute;
  width: 528px;
  z-index: 7;
}

.headingB {
  color: #fff;
  font-family: Headliner , sans-serif;
  font-size: 34px;
  font-weight: 400;
  letter-spacing: 0.05em;
  margin-right: -160%;
  margin-top: -77%;
  position: absolute;
  text-transform: uppercase;
  z-index: 6;
}

.titleImageB {
  margin-right: -248%;
  margin-top: -70%;
  position: absolute;
  z-index: 5;
}

.subtitleB {
  font-family: Bender , sans-serif;
  font-size: 14px;
  margin-right: -275%;
  margin-top: 180%;
  position: absolute;
  z-index: 4;
}

.prizeTextB {
  color: #729da6;
  font-size: 24px;
  letter-spacing: 0.8px;
  line-height: 7px;
  margin-right: -275%;
  margin-top: 198%;
  position: absolute;
  text-align: center;
  z-index: 3;
}

.rewardB {
  margin-right: -275%;
  margin-top: 34%;
  position: absolute;
  z-index: 2;
}

.rewardBackgroundB {
  background-image: url('../../../public/images/awardSection/background.png');
  object-fit: cover;
  width: 528px;
  height: 520px;
  z-index: 1;
}

.prizeContainerB {
  background-color: #313131;
  border-radius: 4px;
  box-shadow: #141414 0 , 2 , 28 , 0 , 30%;
  height: 520px;
  margin-left: 175%;
  margin-right: -100%;
  margin-top: 60%;
  object-fit: cover;
  position: absolute;
  width: 528px;
  z-index: 0;
}

@media screen and (max-width: 375px) {
  .prizeB {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 75%;
  padding-top: 130%;
  position: absolute;
  width: 100%;
}

.headingA {
  font-size: 22px;
  margin-left: 8%;
  margin-right: -100%;
  margin-top: 52%;
}

.titleImageA {
  margin-left: -6%;
  margin-right: -100%;
  margin-top: 45%;
  width: 376px;
}

.subtitleA {
  font-family: Bender , sans-serif;
  font-size: 14px;
  margin-left: 26%;
  margin-right: -100px;
  margin-top: 150%;
  position: absolute;
}

.prizeTextA {
  line-height: 7px;
  margin-left: 8%;
  margin-right: -100%;
  margin-top: 155%;
}

.rewardA {
  margin-left: 1%;
  margin-right: -100%;
  margin-top: 59%;
  width: 310px;
}

.rewardBackgroundA {
  background-image: url('../../../public/images/awardSection/backgroundMobile.png');
  object-fit: contain;
  height: 428px;
}

.prizeContainerA {
  height: 428px;
  margin-left: -2%;
  margin-right: -100%;
  margin-top: 50%;
  width: 330px;
}

.headingB {
  color: #fff;
  font-family: Headliner , sans-serif;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0.05em;
  margin-right: -100%;
  margin-left: -310%;
  margin-top: 185%;
  position: absolute;
  text-transform: uppercase;
}

.titleImageB {
  margin-right: 0;
  margin-left: -445px;
  margin-top: 190%;
  width: 120%;
}

.subtitleB {
  margin-right: -100%;
  margin-left: -780px;
  margin-top: 370%;
}

.prizeTextB {
  color: #729da6;
  font-size: 24px;
  letter-spacing: 0.8px;
  line-height: 7px;
  margin-right: -100%;
  margin-left: -780px;
  margin-top: 390%;
}

.rewardB {
  margin-left: -250%;
  margin-right: -100%;
  margin-top: 250%;
  width: 310px;
}

.rewardBackgroundB {
  background-image: url('../../../public/images/awardSection/backgroundMobile.png');
  object-fit: cover;
  width: 330px;
  height: 428px;
  margin-top: 20%;
}

.prizeContainerB {
  height: 428px;
  margin-left: -2%;
  margin-right: 148%;
  margin-top: 300%;
  width: 330px;
}
}
